#!/bin/bash
########################################
#                                      #
# From:	   Robert Bruckmueller         #
# Email:   admin@mediadelivery.de      #
# Web:     mediadelivery.de            #
# Version: 1.5.0                       #
# Date:    08.11.14                    #
# File:    apt-check                   #
# License: GPL v3                      #
# http://www.gnu.org/copyleft/gpl.html #
#                                      #
########################################
# Changelog
# v1.0: erste verion
# v1.1: debug hinzugefuegt
# v1.2: es wir nur noch eine Email gesendet wenn es neue Updates gibt und keine neuene seit der letzten email hionzugekommen sind
# v1.3: wenn kein emailuser eingetragen wir der mutt befehl angepasst
# v1.4: starttls hinzugefügt
# v1.4.1: Small Bug Fix
# v1.4.2: Email From Problem fix
# v1.5.0: add Config File

######## Config ########
emailfrom="admin@example.com" #must be set
emailto="info@example.com" #must be set
emailsmtp="mail.example.com" #must be set
emailuser="admin@example.com"  #can be emty
emailpass="Test1234" #can be emty
emailport=25
emailtls="yes" #must be set(yes,no)
######## Config ########